<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price}}</p>
  </div>
  <div class="card-footer">
    <button 
      (click)="addToCart(product)" 
      class="btn btn-secondary btn-block"
      *ngIf="getQuantity() <= 0"
    >
      Add to Cart  {{ getQuantity() }}
    </button>
    <div class="btn btn-block" role="group" aria-label="Basic example" *ngIf="getQuantity() > 0">
        <button type="button" class="btn btn-secondary" (click)="subFromCart(product)">-</button>
        <button type="button" class="btn">{{ getQuantity() }} in cart</button>
        <button type="button" class="btn btn-secondary" (click)="addToCart(product)">+</button>
      </div>
  </div>
</div>